.navbar {
    margin: 0rem 6rem 3rem;
    padding: 0.3rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items:center;

    background: var(--color-contrast);
    border-radius: 0px 0px 12px 12px;
    color: white;
}

.navbar__links_container {
    display: flex;
}

.navbar__links_container p {
    margin-left: 1rem;
}