@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap'); 

:root {
  --font-regular: "Roboto Mono"; 
  --font-regular-italic: "Roboto Mono", "italic";
  --font-light: "Roboto Mono", 300; 
  --font-light-italic: "Roboto Mono", 300, "italic";
  --color-bg: #79B4B7;
  --color-primary: #F8F0DF;
  --color-secondary: #F8F0DF;
  --color-contrast: #9D9D9D;
}

body {
  background: var(--color-bg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-regular);
}
